.app-bar {
  width: 100%;
  background: var(--bg-black5);
  position: fixed;
  display: flex;
  top: 0;
  z-index: 2;
}

@media only screen and (max-width: 1830px) {
}

@media only screen and (max-width: 1489px) {
}

@media only screen and (max-width: 1152px) {
}

@media only screen and (max-width: 391px) {
}
