.form-control {
  position: relative;
  z-index: 1;
  background: #ffff;
  max-width: 360px;
  width: 100%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow:
    0 0 20px 0 #faf9f933,
    0 5px 5px 0 #d5c8c83d;
  border-radius: 5px;
}
