.form-control {
  position: relative;
  z-index: 1;
  background: var(--bg-white-1);
  max-width: 360px;
  width: 100%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow:
    0 0 20px 0 var(--bg-black-2),
    0 5px 5px 0 var(--bg-black-3);
  border-radius: 5px;
}
