:root {
  --bg-image: #f2f2f2;
  --bg-card: #ffff;

  --text-poke-id-color: #919191;
}

.card {
  width: 205px;
  background-color: var(--bg-card);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
  margin-left: 15px;

  .poke-image {
    background-color: var(--bg-image);
    width: 100%;
    height: 200px;
    border-radius: inherit;
    display: flex;

    img {
      object-fit: cover;
    }
  }

  .poke-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 10px;

    .poke-id {
      font-family: "Flexo-Bold", arial, sans-serif;
      color: var(--text-poke-id-color);
      margin: 0;
      padding: 0;
      font-weight: bold;
      font-size: 80%;
    }

    .poke-name {
      margin: 0;
      padding: 0;
      font-size: 145%;
      font-weight: bold;
    }

    .poke-name::first-letter {
      text-transform: uppercase;
    }

    .poke-types {
      display: flex;
      gap: 5px;
      margin-bottom: 28px;
    }
  }
}

.card:hover {
  position: relative;
  animation: move 0.2s linear;
}

@keyframes move {
  0% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}
