:root {
  --bg-container: #ffff url("../../../public/img/container_bg.png");
}

:root[data-theme="light"] {
  --bg-container: #ffff url("../../../public/img/container_bg.png");
}

.container {
  background: var(--bg-container);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
