$bg-bug: #729f3f;
$bg-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
$bg-fairy: #fdb9e9;
$bg-fire: #fd7d24;
$bg-ghost: #7b62a3;
$bg-ground: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
$bg-normal: #a4acaf;
$bg-psychic: #f366b9;
$bg-steel: #9eb7b8;
$bg-dark: #707070;
$bg-electric: #eed535;
$bg-fighting: #d56723;
$bg-flying: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
$bg-grass: #9bcc50;
$bg-ice: #51c4e7;
$bg-poison: #b97fc9;
$bg-rock: #a38c21;
$bg-water: #4592c4;