.poke-type {
  padding: 5px;
  border-radius: 3px;
  font-size: 11px;
  text-align: center;
  width: 100px;
  font-weight: bold;
  background-color: #7fffd4;
}

.poke-type::first-letter {
  text-transform: uppercase;
}
