:root {
  --bg-form-input: #f2f2f2;
  --bg-button: #4caf50;
  --bg-button-hover: #43a047;

  --text-button: #ffff;
  --text-span: #4caf50;
  --text-message: #b3b3b3;
}

:root[data-theme="light"] {
  --bg-form-input: #f2f2f2;
  --bg-button: #4caf50;
  --bg-button-hover: #43a047;

  --text-button: #ffff;
  --text-span: #4caf50;
  --text-message: #b3b3b3;
}

.form-control {
  p {
    margin: 0 0 15px;
    padding: 0;
  }

  input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: var(--bg-form-input);
    width: 100%;
    border: 0;
    margin-bottom: 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: var(--bg-button);
    width: 100%;
    border: 0;
    padding: 15px;
    color: var(--text-button);
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  button:hover,
  button:active,
  button:focus {
    background: var(--bg-button-hover);
  }

  .message {
    margin: 15px 0 0;
    color: var(--text-message);
    font-size: 12px;
    span {
      color: var(--text-span);
    }
  }
}
