:root[data-theme="dark"] {
  --bg-select-menu: #313131;
  --text-color-menu: #ffff;
}

:root[data-theme="light"] {
  --bg-select-menu: #313131;
  --text-color-menu: #ffff;
}

.select-menu {
  background-color: var(--bg-black1);
  font-size: 1.05rem;
  color: var(--bg-white1);
  border-radius: 5px;
  position: relative;
  width: 250px;

  .select {
    padding-left: 44px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-top: 12px;
    border: none;
    outline: none;

    appearance: none;
    background-image: url("../../../public/img/down-arrow.png");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
  }

  img {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 3%;
    width: 28px;
    height: 28px;
    object-fit: cover;
  }
}
