:root {
  --bg-color-body: #2e2b2b;
  --url-bg-color-body: url("../public/img/body_bg.png");
  --bg-color-container: #fff;
  --bg-advanced-search: #616161;
  --bg-content: #fff;
  --url-bg-color-container: url("../public/img/container_bg.png");
  --bg-form: #fff;
  --bg-input: #f2f2f2;

  --bg-white-1: #fff;
  --bg-white-2: #f2f2f2;
  --bg-white-3: #d7cfcf;
  --bg-blue-1: #30a7d7;
  --bg-black-1: #313131;
  --bg-black-2: #faf9f933;
  --bg-black-3: #d5c8c83d;
  --bg-black-4: #0a0a0a;
  --bg-black-5: #4f4e4e;
  --bg-green-1: #4caf50;
  --bg-green-2: #43a047;
  --bg-green-3: #7fffd4;

  --text-gray: #a4a4a4;
  --text-white: #fff;
  --text-green: #4caf50;
  --text-red: #ff0000;
  --text-black: #000;

  --font-family-1: "Flexo-Regular", arial, sans-serif;
  --font-family-2: "Roboto", sans-serif;
}

:root[data-theme="light"] {
  --bg-color-body: #f0e8e8;
  --url-bg-color-body: url("../public/img/container_bg.png");
  --bg-color-container: #393131;
  --url-bg-color-container: url("../public/img/container_bg.png");
  --bg-advanced-search: #626060;
  --bg-content: #f0e8e8;
  --bg-form: #252424;
  --bg-input: #fff;

  --bg-white-1: #fff;
  --bg-white-2: #f2f2f2;
  --bg-blue-1: #30a7d7;
  --bg-black-1: #313131;
  --bg-black-2: #faf9f933;
  --bg-black-3: #d5c8c83d;
  --bg-black-4: #0a0a0a;
  --bg-black-5: #4f4e4e;
  --bg-green-1: #4caf50;
  --bg-green-2: #43a047;
  --bg-green-3: #7fffd4;

  --text-gray: #a4a4a4;
  --text-white: #fff;
  --text-green: #4caf50;
  --text-red: #ff0000;
  --text-black: #000;

  --font-family-1: "Flexo-Regular", arial, sans-serif;
  --font-family-2: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-color-body) var(--url-bg-color-body);
  font-family: var(--font-family-1);
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  background: var(--bg-color-container) var(--url-bg-color-container);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.auth-container {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  width: 100%;
  color: var(--text-red);
}
